<!DOCTYPE html>
<html lang="en">
<!-- Start Head -->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>GJacoco</title>

	<link rel="stylesheet" href="assets/css/style.min.css">
	<link rel="stylesheet" href="assets/css/modules.css">
</head>
<!-- End Head -->

<body class="modern">

<!--
START MODULE AREA 1: header1
-->
<header class="MOD_HEADER1" data-theme="_bgd">
  <div data-layout="_r">
    <div data-layout="al16 de10" class="MOD_HEADER1_Title">
      <h1 class="MOD_HEADER1_TextLogo">GJacoco</h1>
      <p class="MOD_HEADER1_Slogan"></p>
    </div>
  </div>
</header>
<!--
END MODULE AREA 1: Header 1
-->

<!--
START MODULE AREA 2: Text Accordian
-->
<section>
  <div data-layout="_r">
    <div data-layout="de6">
      <h2 class="MOD_TEXTACCORDION_Title" data-theme="_bb2">{{ .Statistic.CovAll }}</h2>
			<p>Coverage All {{ len .Targets }} Classes</p>
			<p>Coverage Ratio</p>
			<table>
					<tr>
						<td>Percentage(%)</td>
						<td>Num</td>
					</tr>
					{{ range $key, $value := .Statistic.CovRatio }}
					<tr>
						<td>{{ $key }}</td>
						<td>{{ $value }}</td>
					</tr>
					{{ end }}
			</table>
    </div>
    <div data-layout="de10">
      <div class="AP_accordion" role="tablist">
        {{range .Targets }}
		<p class="AP_accordion_tab" role="tab" data-theme="_bgp" tabindex="0">{{ .Class }} {{ .Coverage }}</p>
        <div class="AP_accordion_panel" role="tabpanel">
			<p>{{ .Package }}</p>
			<p>{{ .CovNum }}/{{ .LineNum }} (coveage num/ all line num)</p>
        </div>
        {{end }}
      </div>
    </div>
  </div>
</section>
<!--
END MODULE AREA 2: Text Accordian
-->

<!--
START MODULE AREA 3: Footer 2
-->
<footer>
  <div class="MOD_FOOTER2" data-theme="_bgd">
    <div data-layout="_r">
    </div>
  </div>
</footer>
<!--
END MODULE AREA 3: Footer 2
-->

<script src="assets/js/index.js"></script>
</body>

</html>
			
